*.log
*.tmproj
*.swp
*.iml
*~
*#
.#*
.DS_Store


# /
/classes
/.manager
/build
/.settings
/dist
/.Test.scala.swp
/target
/lib_managed
/src_managed

# /project/
/project/boot
/project/target
# /project/build/
/project/build/target


# Stock Market Problem
/src/main/scala/stocks.scalai
*.csv
